
body {
	font-family: sans-serif;
	font-size: 10pt;
	margin: 0.5em;
	cursor: default;
	background-color: black;
	background-image: url(../images/tileable-classic-nebula-space-patterns-6.jpg);
	color: white;
}

header {
	text-align: center;
	font-size: 150%;
	color: yellow;
}

section#search{
	text-align: center;	
}

section#search input {
	font-size: 150%;
	background-color: navy;
	color: white;
}

section#results{
	margin: 1em;
	text-align: center;
}
section#results .card {
	display: inline-block;
	margin: 0.5em;
	width: 15em;
	height: 20em;
}

section#results .card h1,
section#results .card .text{
}

section#results img {
	height: 100%;
}
